.hidden {display: none}
.left {float: left}
.right {float: right}
.dwn_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27.7px 16px 0 16px;
    border-color: #000000 transparent transparent transparent;
}
.up_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 27.7px 16px;
    border-color: transparent transparent #000000 transparent;
}